* {
    padding: 0;
    margin: 0;
}
:root{
    --theme-color: #00B894;
}

body {
    font-family: "Poppins", sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe !important;
    outline: 0;
    box-shadow: none;
}

.nav-item.active .nav-link{
    color: #eb427e !important;
}

.navbar-brand {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #063991;
    font-family: "Nunito", sans-serif;
    margin-top: 3px;
}

.shadow {
    box-shadow: 0px 0 30px rgb(1 41 112 / 8%) !important;
}

.navbarColor {
    background: #fff;
    padding: 10px 0;
    box-shadow: 0px 2px 20px rgb(1 41 112 / 10%);
    transition: 0.5s;
}

.navbar-brand:focus,
.navbar-brand:hover {
    color: #063991;
}

.navbarpadding {
    padding: 15px 0;
    transition: 0.5s;
}

.navbar-nav .nav-link {
    color: #47536e !important;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    white-space: nowrap;
    padding: 10px 0 10px 30px;
    font-size: 15px;
    padding: 8px 15px !important;
    transition: 0.3s;
}
.navbar-nav a:hover{
    color: #eb427e !important;
}
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover {
    color: #4154f1;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-item {
    color: #063991;
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    font-weight: 600;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #063991;
    /*background-color:none; */
}

.last-logo i {
    color: var(--theme-color);
    font-size: 20px;
}

/* --------Hero-section------- */
.hero-img {
    margin-top: 150px;
    width: 100%;
    height: auto;
}

.hero-section {
    width: 100%;
    min-height: 100vh;
    background: url(../image/hero-bg.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero-section .hero-text h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
    color: var(--theme-color);
    font-family: "Poppins", sans-serif;

}

.hero-section .hero-text h2 {
    color: #515f7d;
    margin-bottom: 30px;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}

.hero-section .hero-text .apple-button {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 15px;
    padding: 8px 24px 10px 46px;
    margin-top: 10px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #707070;
    border: none;
}
.hero-section .hero-text .apple-button:hover{
    background: #232323;
    color: #fff;
}
.hero-section .hero-text .google-play {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 15px;
    padding: 8px 24px 10px 46px;
    margin-top: 10px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #428061;
    border: none;
}
.hero-section .hero-text .google-play:hover{
    background: #11492a;
    color: #fff;
}

.hero-section .hero-text .buy-button {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 15px;
    padding: 8px 24px 10px 46px;
    border-radius: 50px;
    transition: 0.5s;
    margin-top: 10px;
    color: #fff;
    background: #eb427e;
    border: none;
}
.hero-section .hero-text .buy-button:hover{
    background: var(--theme-color);
    color: #fff;
}

/* --- --------Flutter-Details-Section------- - */
.flutter-app-section {
    margin: 50px 0;
}

.flutter-app-section .section-box {
    background-color: #f2f5fa;
    padding: 30px 50px;
}
.flutter-app-section .section-box .box-text h2{
    font-family: "Open Sans", sans-serif;
    color: var(--theme-color);
    font-size: 30px;
}
.flutter-app-section .section-box .box-text p{
    font-family: "Open Sans", sans-serif;
    color: #47536e;
    font-size: 17px;
    padding: 0 200px 0px 0px;
}
.flutter-app-section .section-box .read-more{
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 15px;
    display: inline-block;
    padding: 8px 24px 10px 46px;
    border-radius: 50px;
    transition: 0.5s;
    margin-top: 10px;
    color: #fff;
    background: #eb427e;
    border: none;
}
.flutter-app-section .section-box .read-more:hover{
    background: var(--theme-color);
    color: #fff;
}
/* <!-------App-Features-Section------> */

.app-features-section .section-text h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 0;
    text-align: center;
    color: var(--theme-color);
    font-family: "Poppins", sans-serif;
}
.app-features-section .section-text p {
    color: #47536e;
    font-size: 17px;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 60px;
}

.app-features-section .app-icon-box img {
    width: 48px;
    float: left;
}
.app-features-section .icon-content-text h4 {
    font-size: 20px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    color: var(--theme-color);
}

.app-features-section .icon-content-text p {
    font-size: 15px;
    color: #47536e;
}
.app-features-content div{
    margin: 5px 0;
    
}
/* ======= Details-Section-one ,Two and Three =======  */
.details-section {
    margin-top: 60px;
}
.details-section .details-text h3{
    font-weight: 700;
    font-size: 30px;
    color: var(--theme-color);
    font-family: "Raleway", sans-serif;
}
.details-section .details-text p{
    font-size: 17px;
    color: #47536e;
}

.details-section .apple-button {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 15px;
    padding: 8px 24px 10px 46px;
    margin-top: 10px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #707070;
    border: none;
}
.details-section .apple-button:hover{
    background: #232323;
    color: #fff;
}
.details-section .google-play {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 15px;
    padding: 8px 24px 10px 46px;
    margin-top: 10px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #428061;
    border: none;
}
.details-section .google-play:hover{
    background: #11492a;
    color: #fff;
}

.details-section .buy-button {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 15px;
    padding: 8px 24px 10px 46px;
    border-radius: 50px;
    transition: 0.5s;
    margin-top: 10px;
    color: #fff;
    background: #eb427e;
    border: none;
}
.details-section .buy-button :hover{
    background: var(--theme-color);
    color: #fff;
}
.details-section-content .button-section button{
    margin-left: 15px;
}
/* ======= Details-Section-END =======  */
/* =======Price-Section========== */
.price-section {
    margin-top: 70px;
}
.price-section h2 {
    padding: 20px 0;
    font-size: 30px;
    line-height: 42px;
    font-weight: 700;
    color: var(--theme-color);
}
.price-section .price-heding-content h2{
    font-weight: 300;
    margin-bottom: 10px;
    font-size: 28px;
    font-family: "Raleway", sans-serif;
    color: #47536e;
}
.price-section .price-heding-content h3{
    font-size: 46px;
    color: var(--theme-color);
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 30px;
}
.price-section .price-heding-content p{
    font-size: 17px;
    text-align: center;
    color:#47536e;
    margin: 0;
}
.price-section .price-item-content {
    margin-top: 20px;
}
.price-section .price-item-content .item{
    list-style: none;
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    gap: 4px;
    align-items: center;
    color: #47536e;
}
.price-section .price-item-content .item .icon{
    font-size: 23px !important;
    color: var(--theme-color);
}
.price-section .price-item-content button{
    background: var(--theme-color);
    display: inline-block;
    padding: 8px 25px;
    border-radius: 20px;
    color: #fff !important;
    transition: none;
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
    font-family: "Raleway", sans-serif;
    transition: 0.3s;
    border: none;
}
.price-section .price-item-content button:hover{
    background: #25ADDE;
}
.price-section .price-item-content .last-m-text{
    font-weight: 300;
    padding: 15px 0;
    font-size: 28px;
    list-style: none;
}
.price-section .price-item-content .last-para{
    font-size: 14px;
    text-align: center;
    color:#47536e;
    margin: 0;
}
/* =======Price-Section-END========== */

/*=========Portfilio-Section =========*/
.portfilio-section .portfolo-title {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 30px;
    line-height: 42px;
    font-weight: 700;
    color: var(--theme-color);
    text-align: center;
}

.portfolio-wrap {
    position: relative;
    width: auto;
    height: auto;
    overflow: hidden;
}

.portfolio-wrap img {
    transition: 0.5s;
}

.portfolio-info {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.75);
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 0.3s;
}

.portfolio-wrap:hover .portfolio-info {
    opacity: 1;
}

.portfolio-wrap:hover img {
    transform: scale(1.2);
}

.portfolio-info h4 {
    font-size: 20px;
    color: var(--theme-color);
    font-weight: 700;

}

.portfolio-info p {
    color: var(--theme-color);
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
}

.portfolio-info .portfolio-link a {
    width: 36px;
    height: 36px;
    background: blue;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.portfolio-wrap .portfolio-info::before {
    display: block;
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    top: 35px;
    left: 35px;
    border-top: 3px solid rgba(1, 41, 112, 0.2);
    border-left: 3px solid rgba(1, 41, 112, 0.2);
    transition: all 0.5s;
    z-index: 9994;
}

.portfolio-wrap .portfolio-info::after {
    display: block;
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    bottom: 35px;
    right: 35px;
    border-bottom: 3px solid rgba(1, 41, 112, 0.2);
    border-right: 3px solid rgba(1, 41, 112, 0.2);
    transition: all 0.5s;
    z-index: 9994;
}

.portfilio-button {
    color: #4154f1;
    border: 1px solid #4154f1;
    border-radius: 50px;
    padding: 4px 18px;
    background-color: #fff;
}

.hover-button {
    padding: 4px 18px;
    border: none;
    background-color: #fff;
}

.hover-button:hover {
    color: #4154f1;
    border: 1px solid #4154f1;
    border-radius: 50px;
    padding: 4px 18px;
}

.filter-button-group button:focus {
    border: 1px solid #4154f1;
    border-radius: 50px;
}
/* =========Portfilio-Section-END======== */

/* clint-section */

.clint-loop .item img {
    width: 90px !important;
    height: auto;
    opacity: 0.5;
}

.clint-loop .item img:hover {
    opacity: 1;
}

.blog-text {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 30px;
    line-height: 42px;
    font-weight: 700;
    color: var(--theme-color);
    text-align: center;
}

.blog-img {
    cursor: pointer;
    transition: 0.5s;
}

.blog-img:hover {
    transform: scale(1.1) rotate(5deg);

}

.post-date {
    font-size: 16px;
    font-weight: 600;
    color: rgba(1, 41, 112, 0.6);
    display: block;
    margin-bottom: 10px;
}

.post-title {
    font-size: 24px;
    color: var(--theme-color);
    font-weight: 700;
    margin-bottom: 18px;
    position: relative;
    transition: 0.3s;
}

.readmore {
    color: #4154f1;


}

.text-item {
    cursor: pointer;
}
/* <!------Contact-Section------> */
.contact-section .contact-title{
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 30px;
    line-height: 42px;
    font-weight: 700;
    color: var(--theme-color);
    text-align: center;
}
.contact-section .address-part {
    color: #444444;
    padding: 30px;
}

.contact-section .address-part i{
    font-size: 35px;
    line-height: 0;
    color: var(--theme-color);
}

.contact-section .address-part h3 {
    font-size: 20px;
    color: var(--theme-color);
    font-weight: 700;
    margin: 20px 0 10px 0;
}

.contact-section .address-part li{
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
    color: #47536e;
}
.contact-section .address-part a {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    color: #47536e;
    margin-bottom: 0;
}
.contact-section .messagebox-part {
    color: #444444;
    background: #fafbff;
    padding: 30px;
}

.contact-section .form-disigin {
    font-size: 14px;
    border-radius: 0;
}

.contact-section .send-button button{
    background: var(--theme-color);
    display: inline-block;
    padding: 8px 25px;
    border-radius: 20px;
    color: #fff !important;
    transition: none;
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
    font-family: "Raleway", sans-serif;
    transition: 0.3s;
    border: none;
}
.contact-section .send-button button:hover{
    background: #25ADDE;
}


.owl-item.active {
    transform: scale(1.1);
}

/* our-letteritem */
.newsletter-section .newsletter-item {
    background-color: #fafbff;
    width: 100% !important;
    height: 200px;
    margin-top: 40px;
    border: 1px solid #e9ecef;
}

.newsletter-section .head-news {
    font-size: 30px;
    margin: 0 0 10px 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    color: var(--theme-color);
}

.newsletter-section .input-create:focus {
    border: 1px solid black !important;
}

.newsletter-section .subcription_Box{
    max-width: 550px !important;
    display: flex;
    flex-direction: row;
    gap: 6px;
    margin: auto;
}
.newsletter-section .subcription_Box .input-create{
    font-size: 14px;
}
.newsletter-section .subcription_Box button{
    background: var(--theme-color);
    padding: 8px 25px;
    border-radius: 2px;
    color: #fff !important;
    transition: none;
    font-size: 14px;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    transition: 0.3s;
    border: none;
}
.newsletter-section .subcription_Box button:hover{
    background: #25ADDE;
}
/*========Footer-Section=======-*/
.footer-section {
    margin-top: 50px;
}
.footer-section .footer-logo img{
    width: 42%;
    margin-bottom: 10px;
    object-fit: cover;
    text-decoration: none;
    cursor: pointer;
}
.footer-section .footer-icon .apple-button{
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 15px;
    padding: 8px 24px 10px 46px;
    margin-top: 10px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    border: none;
    background: #707070;
}
.footer-section .footer-icon .apple-button:hover{
    background: #232323;
    color: #fff;
}
.footer-section .footer-icon .googleplay-button{
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 15px;
    padding: 8px 24px 10px 46px;
    margin-top: 10px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #428061;
    border: none;
}
.footer-section .footer-icon .googleplay-button:hover{
    background: #11492a;
    color: #fff;
}

.footer-section .footer-section-title {
    font-size: 16px;
    font-weight: bold;
    color: var(--theme-color);
    padding-bottom: 12px;
}
.footer-section .footer-fast-text{
    font-size: 14px;
    color: #47536e;
    margin: 20px 0; 
}
.footer-section .footer-fast-text a{
    font-size: 14px;
    color: #47536e;
}

.footer-section .footer-link-text a{
    text-decoration: none;
    font-size: 14px;
    color: #47536e;
    color: #000;
}
.footer-section .footer-link-text .item{
    display: flex;
    justify-content: flex-start;
    font-weight: 400;
    gap: 4px;
    align-items: center;
}
.footer-section .footer-link-text .item .icon{
    font-size: 14px !important;
    color: var(--theme-color);
}   
.footer-section .address-tex p{
    font-size: 14px;
    line-height: 10px;
}
.footer-section .address-tex a{
    font-size: 14px;
    color: #47536e;

}
.footer-section .text-heighlite{
    font-size: 14px;
    font-weight: 600;
    color: var(--theme-color);
}
.footer-section .socal-link{
    margin-top: 10px;
}
.footer-section .socal-link i{
    font-size: 18px;
    width: 35px;
    height: 35px;
    color: #fff;
    background: var(--theme-color);
    border: 1px solid var(--theme-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.3s;
}
.footer-section .socal-link i:hover{
    background: #11492a;
    color: #fff;
}
.footer-section .socal-link a{
    margin: 10px 2px ;
}

/* footer */
.footer {
    background-color: #fafbff;
}

.copyright {

    padding-top: 30px;
    color: var(--theme-color);
    font-size: 15px;
}

.credits a {
    padding-top: 10px;
    font-size: 13px;
    color: var(--theme-color);
    text-decoration: none;
}

/* model-login */
.model-login {
    background-color: lightpink;
    height: auto;
}

.model-login h2 {
    font-weight: 650;
    padding-bottom: 15px;
    margin-top: 15px;
}

.model-login p {
    font-size: 14px;
    color: blue;
    text-align: right;
    cursor: pointer;
    padding: 3px 0;
}

.check-box {
    font-size: 17px;
    margin-top: -25px;
}

span a {
    text-decoration: none;
}

.modal-body {
    display: flex;
    justify-content: center;
    align-items: center;



}




@media only screen and (max-width: 600px) {
    .heroImg {
        margin-top: 0;
    }
}